.pic-right {
	float: right;
	display:inline;
	position:absolute;
}

#lefttop {
	position: absolute;
	background-color: rgb(255,200,200);
	border: 1px solid blue;
	width: 100px;
	height: 100px;
}

#midtop {
	position: absolute;
	border: 1px solid blue;
	background-color: rgb(255,200,200);
	width: 100px;
	height: 100px;
	left: 50%;
	margin-left: -50px;
}
#righttop {
	position: absolute;
	border: 1px solid blue;
	background-color: rgb(255,200,200);
	width: 100px;
	height: 100px;
	left: 100%;
	margin-left: -110px;
}

#leftmid {
	position: absolute;
	background-color: rgb(255,200,200);
	border: 1px solid blue;
	width: 100px;
	height: 100px;
	left: 25%;
	top: 50%;
}
